<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons>
      <button (click)="addFriend()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="this.isLookingForFriend">

  <add-friend></add-friend>

  </div>


  <div *ngIf="this.foundFriends">
    <friend-suggestion-result></friend-suggestion-result>

  </div>
</ion-content>
